<div id="content">
  Mining Permits are a way of life it seems.  Corps take their tax, why not us?  It needs to come from the attacked Pilot for Record Keeping.
  
  <br />If you want to purchase a mining permit it will get you the following:

  <ol>
    <li>Mining Protection for 24 hours.</li>
  </ol>

  You will need to pre purchase this prior to being killed.  The fees are as follows:

  <table>
    <tr *ngFor="let row of options">
      <td>{{row.ship}}</td>
      <td>{{row.value}}</td>
    </tr>
  </table>
  <br />
  Payments need to be paid to the Initial Tackle prior to ship being destroyed.
</div>