#content {
  text-align: left;
  width: 75%;
  margin-left: auto;
  margin-right: auto;

  > div {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    border: solid 10px white;
    padding: 10px;

    > div {
      width: 50%;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

iframe {
  margin-left: auto;
  margin-right: auto;
}


table {
  margin-left: auto;
  margin-right: auto;
  tr {
    background-color: #450905;
    border-bottom: solid 1px darkgrey;
    a {
      color: #2a9fd6;
    }
  }
}
