<div id="content">
  We have an Active Warrant for the Recoupment of debt sold to us.  If you were directed to this page, it means loan recoupment is in effect.  Debt collection is nothing personal, as your ship will be SRP'd.
  The debt was put into collections when Darien had over 56B isk in personal wallet and over 50b isk in Corp wallet, while failing in honest to pay off the original loan owner.  The recoupment has extended to the owning alliance since Darien has failed to pay off debt with his own wallet, OR shift the debt to the corp for him to pay back.

  <span>Information is as follows:</span>

  <div>
    <i>Richard Swasey</i> had a loan to <i>Darien Avan</i> in the amount of 30b isk.  Before Darien went into colloections, he had paid 10b off.

    <div>Debt: 20B ISK</div>
    <div>Service Fee: 10B ISK</div>
    <div><b>Totals: 30b ISK</b></div>

    The ISK debts above, is factual, and even <i>Darien Avan</i> will acknowledge the debt.  He wont deny the debt.

    <ol>
      <li>At any point, the pilot in question may make a payment to pay off the debt.  We will then immediately consolidate and redeploy elsewhere.</li>
      <li>At any point, any member of the alliance may pay of Darien's Debt.</li>
      <li>Debt will be collected by killmails.  60% of loot drops for Members of the Vanguard Syndicate will go towards this debt</li>
    </ol>
    
    <div>Execution of this Warrant will be accomplished by the SE YOLO Deployment Team.</div>
    <div>After recieving documented proof, we will consolidate and redeploy to a different region.</div>

    <div>Mining Permits are not authorized for Members of Alliance with a Warrant.</div>
  </div>

  To the Line members,  We truely are sorry for the problems and the lack of game play you want. These actions directly result from your leadership, and I encourage you to ask them why they have busted on their debts by MONTHS and to this date, refuse to pay.  Ask them.  Whether or not you agree with it, I know you see why or how this came to be. Without line members speaking up and asking questions, this debt would not be repaid.
  <br />
  Optics is everything, so from your perspective, I can see how it stings.  Understanding the <i>WHY</i> will at least give you the perspective of how we arrived at today.
  <br />
  This is a game.
  <br />
  <iframe width="699" height="524" src="https://www.youtube.com/embed/yNxPVj0hejg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>